#footer{
    margin-top 40px
    text-align center
    font-style italic
    color #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 #919191;
    font-family 'Times New Roman', Times, serif
    font-size: 20px;
}